label {
  font-family: "Source Sans 3", sans-serif;
  font: bold;
  border-bottom: 3px solid black;
  padding: 10px;
  width: 100%;
}

textarea {
  text-decoration: none;
  padding: 10px;
}

.bottom-form {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
  font-family: "Bungee", sans-serif;
}

.bottom-form output {
  font-family: "Bungee", sans-serif;
}

.bottom-form button {
  background-color: #3340b5;
  color: white;
  padding: 5px;
}

.bottom-form button:hover {
  background-color: #2830a1;
}